<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profile.css') }}" /> 
    <title>test</title>
</head>

<body>
    <script src="/static/scripts/profile/profile.js"></script>
    <script src="/static/scripts/pageHelper.js"></script>
   
    <div class="">
        <p>Этот маршрут приватный</p>

    </div> 
    
    <div class="error">
        <p id="errorText"></p>
    </div>

</body>
</html>