<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" /> 
    <title>test</title>
</head>

<body>
    <h1>Авторизация</h1>
    <script src="/static/scripts/auth/login.js"></script>
    <script src="/static/scripts/pageHelper.js"></script>

    

    <div class="login">
        <div class="email">
            <p>E-mail</p>
            <input type="email" id="email"/>
        </div>
    
        <div class="password">
            <p>Пароль</p>
            <input type="email" id="password"/> 
        </div>
    </div> 
    <div class="error">
        <p id="errorText"></p>
    </div>
    <div class="buttons">
        <button class="loginButton" onclick="login()"> Войти </button>
        <button class="noAccount" onclick="redirectToSignup()"> Нет аккаунта? </button>
    </div>
</body>
</html>