<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/profile.css') }}" /> 
    <title>test</title>
</head>

<body onload="init();">
    <script src="/static/scripts/profile/profile.js"></script>
    <script src="/static/scripts/pageHelper.js"></script>
   
    <div class="header">
        <img id="logo" src=/static/images/logo.png>
        <p id="publicRoutesLink" class="publicRoutesLink" onclick="window.location.replace('/publicRoutes')">Публичные маршруты</p>
        <p id="myRoutesLink" class="myRoutesLink" onclick="window.location.replace('/myRoutes')">Мои маршруты</p>
        <p id="createRouteLink" class="createRouteLink" onclick="window.location.replace('/createRoute')">Создать маршрут</p>
        <p id="importObjects" class="importObjects" onclick="importObjects()"> Импортировать объекты</p>
        <p id="profileName" class="profileName" onclick="pageHelper.onProfileNameClick()">profile_name</p>  
    </div>

    <div class="profileInfo">
        <img id="profilePic" class="profilePic">
        <div class="name">
            <p id="username">USERNAME</p>
            <button class="editProfileButton" onclick="editProfile()"> Редактировать профиль </button>
            <button class="myRoutesButton" onclick="myRoutes()"> Мои маршруты </button>
            <button class="logOutButton" onclick="logOut()"> Выйти из аккаунта </button>
        </div>
        <input type="file" name="photoSelector" id="photoSelector" style="width:0px" multiple>

    </div> 
    <div class="error">
        <p id="errorText"></p>
    </div>

</body>
</html>