<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/signup.css') }}" /> 
    <title>test</title>
</head>

<body>
    <div class="ybg">
        <h1>Регистрация</h1>
        <script src="/static/scripts/auth/signup.js"></script>
        <script src="/static/scripts/pageHelper.js"></script>
        <div class="signup">
            <div class="email">
                <p>E-mail</p>
                <input type="text" id="email" name="email"/>
            </div>

            <div class="username">
                <p>Имя пользователя</p>
                <input type="text" id="username" name="email" /> 
            </div>
        
            <div class="password">
                <p>Пароль</p>
                <input type="password" id="password" name="email" /> 
            </div>

            <div class="error">
                <p id="errorText"></p>
            </div>
    
            <button class="signupButton" onclick="signup()"> Создать аккаунт </button>
        </div> 
        
    </div>
</body>
</html>